@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: roboto, arial;
}

header{
    padding: 3rem;
    background-color: red;
}

header h1{  
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

main{
    margin: 0 10rem 0 10rem;
}

section#cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
}

section#cards div.card{
    width: 20rem;
    box-shadow: 5px 5px 5px 5px #00000020;
    padding: 1rem;
    margin-top: 3rem;
}

section#cards div.card img{
    width: 100%;
}

section#cards div.card h2{
    margin-bottom: 1rem;
}

section#cards div.card p.descricao{
    margin-bottom: 1rem;
}

section#cadastro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

section#cadastro h2{
    width: 100%;
    text-align: center;
    padding: 2rem;
}

section#cadastro form{
    width: 50%;
}

section#cadastro form input{
    width: 100%;
    margin: 0 1rem 1rem 1rem;
    padding: 0.7rem;
    font-size: 1rem;
    outline: none;
    border: solid 2px; color: rgb(197, 197, 197);
}

section#cadastro form label{
    margin: 1rem;
    color: rgb(99, 99, 99);
}

section#cadastro form button{
    width: 20%;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 1px red;
    color: red;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

section#cadastro form button:hover{
    background-color: red;
    color: #fff
}

